<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
          <strong> {{user?.id == null ? 'Tạo mới nhân viên' : 'Chỉnh sửa nhân viên #' + user?.id}} </strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form class="needs-validation form-horizontal" [formGroup]="requestDTO">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="login">Tài khoản</label>
                  <div class="col-md-9">
                    <input class="form-control" id="login" type="text" name="login" placeholder="Tài khoản"
                           formControlName="login" [class.is-invalid]="requestDTO.controls.login.invalid && (requestDTO.controls.login.dirty || requestDTO.controls.login.touched)">
                    <div class="invalid-feedback" *ngIf="requestDTO.controls.login.errors?.required">
                      *Tài khoản không được để trống
                    </div>
                  </div>
                </div>
                <div *ngIf="!user" class="form-group row">
                  <label class="col-md-3 col-form-label" for="login">Mật Khẩu</label>
                  <div class="col-md-9">
                    <input class="form-control" id="password" type="password" name="password" placeholder="Mật khẩu" required
                           formControlName="password" [class.is-invalid]="requestDTO.controls.password.invalid && (requestDTO.controls.password.dirty || requestDTO.controls.password.touched)">
                    <div class="invalid-feedback" *ngIf="requestDTO.controls.password.errors?.required">
                      *Mật khẩu không được để trống
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label">Tên nhân viên</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" name="fullName" placeholder="Tên nhân viên" required
                           formControlName="fullName" maxlength="50"  [class.is-invalid]="requestDTO.controls.fullName.invalid && (requestDTO.controls.fullName.dirty || requestDTO.controls.fullName.touched)">
                    <div class="invalid-feedback" *ngIf="requestDTO.controls.fullName.errors?.required">
                      *Tên nhân viên không được để trống
                    </div>
                    <div class="invalid-feedback" *ngIf="requestDTO.controls.fullName.errors?.maxlength">
                      *Tên nhân viên không được dài hơn 50 ký tự
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 col-form-label">Vị trí</label>
                  <div class="col-md-9">
                    <ng-select [items]="positions"
                               bindLabel="name"
                               bindValue="id"
                               placeholder="Lựa chọn vị trí"
                               formControlName="positionId">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-9 offset-md-3">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="activated"
                             formControlName="activated">
                      <label class="custom-control-label" for="activated">Hoạt động</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <label>Danh sách quyền đã chọn</label>
                    <p-table [value]="authoritiesSelected" [paginator]="true" [rows]="pageSize"
                             [totalRecords]="authoritiesSelected.length"
                             #authoritiesTable>
                      <ng-template pTemplate="header">
                        <tr>
                          <th>STT</th>
                          <th>Tên</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-authority let-rowIndex="rowIndex">
                        <tr>
                          <td>{{rowIndex + 1}}</td>
                          <td>{{authority}}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <label>Tìm kiếm quyền</label>
              <div class="input-user mb-4">
                <input class="form-control" placeholder="Tìm kiếm theo mô tả" type="text"
                       [formControl]="groupFilter">
              </div>
              <p-table [value]="authorities" [paginator]="true" [rows]="pageSize" [totalRecords]="totalRecords"
                       [lazy]="true"  [loading]="loading" #authoritiesTable>
                <ng-template pTemplate="header">
                  <tr>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>Mô tả</th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-authority let-rowIndex="rowIndex">
                  <tr>
                    <td>{{rowIndex + 1}}</td>
                    <td>{{authority.name}}</td>
                    <td>{{authority?.description}}</td>
                    <td class="text-center">
                      <button class="btn btn-sm btn-primary" type="button" (click)="choose(authority)"
                              *ngIf="!inSelected(authority)">
                        <i class="cui-circle-check"></i> Chọn
                      </button>
                      <button class="btn btn-sm btn-danger" type="button" (click)="unChoose(authority)"
                              *ngIf="inSelected(authority)">
                        <i class="cui-circle-x"></i> Bỏ chọn
                      </button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto mr-auto">
                    <button pButton pRipple icon="pi pi-chevron-left" type="button"
                            label="Quay lại"
                            class="p-button-raised p-button-secondary"></button>
                </div>
                <div class="col-auto">
                    <button pButton pRipple (click)="create()" icon="pi pi-pencil" type="button" label="Lưu lại"
                            class="p-button-raised p-button-success"></button>
                </div>
            </div>
        </div>
    </div>
</div>
