// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

// If you want to add something do it here
@import "custom";
