<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            Quản lí người dùng
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr style="white-space: nowrap">
                        <th scope="col">STT</th>
                        <th scope="col">Tên người dùng</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Vị trí làm việc</th>
                        <th scope="col">Ngày tạo <a style="padding: 0 5px" (click)="sortByDate()"><i
                                [ngClass]="(sortDesc)?'pi pi-sort-amount-up':'pi pi-sort-amount-down'"></i></a></th>
                        <th scope="col">Người tạo</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Email</th>
                        <th scope="col">#</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of sortedData; let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{user.firstName}}  {{user.lastName}}</td>
                        <td *ngIf="!user.activated"><span class="badge rounded-pill bg-danger p-2">Không Hoạt động</span></td>
                        <td *ngIf="user.activated"><span class="badge rounded-pill bg-success p-2">Hoạt động</span></td>
                        <td>
                            <p class="m-0" *ngFor="let group of user.groups">
                                <span class="badge badge-info p-2">{{ group.name }}</span>
                            </p>
                        </td>
                        <td>{{user.createdDate | date:'d/M/yy, h:mm a'}}</td>
                        <td>{{user.createdBy}}</td>
                        <td>{{user.phoneNumber ? user.phoneNumber : 'Chưa có số điện thoại'}}</td>
                        <td>{{user.email ? user.email : 'Chưa có email'}}</td>
                        <td class="overflow-hidden">
                          <div ngbDropdown container="body">
                            <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle><i
                              class="fa fa-angle-double-down"></i></button>
                            <div ngbDropdownMenu>
                              <button ngbDropdownItem class="btn btn-info" [routerLink]="['detail', user.login]"><i
                                class="fa fa-eye"></i> Xem
                              </button>
                              <button ngbDropdownItem class="btn btn-warning" [routerLink]="['update', user.login]"><i class="fa fa-edit"></i> Sửa</button>
                              <button ngbDropdownItem class="btn btn-danger"><i class="fa fa-trash"></i> Hoạt động
                              </button>
                            </div>
                          </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p-paginator [rows]="10" [totalRecords]="totalData" [rowsPerPageOptions]="pageSizeOption"
                         (onPageChange)="paginate($event)"></p-paginator>
        </div>
    </div>
</div>
