<div class="animated fadeIn">
    <div class="card">
        <div class="card-header"><strong> Quản lí người dùng </strong></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr style="white-space: nowrap">
                        <th scope="col">STT</th>
                        <th scope="col">Tên người dùng</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Vị trí làm việc</th>
                        <th scope="col">Ngày tạo <a style="padding: 0 5px" (click)="sortByDate()"><i
                                [ngClass]="(sortDesc)?'pi pi-sort-amount-up':'pi pi-sort-amount-down'"></i></a></th>
                        <th scope="col">Người tạo</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Email</th>
                        <th scope="col">#</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of sortedData; let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{user.firstName}}  {{user.lastName}}</td>
                        <td *ngIf="!user.activated"><button class="button-none-background" (click)="updateEnable(user)"><span class="badge rounded-pill bg-danger p-2">Không Hoạt động</span></button></td>
                        <td *ngIf="user.activated"><button class="button-none-background" (click)="updateDisable(user)"><span class="badge rounded-pill bg-success p-2">Hoạt động</span></button></td>
                        <td>
                            {{user.position?.name}}
                        </td>
                        <td>{{user.createdDate | date:'d/M/yy, h:mm a'}}</td>
                        <td>{{user.createdBy}}</td>
                        <td>{{user.phoneNumber ? user.phoneNumber : 'Chưa có số điện thoại'}}</td>
                        <td>{{user.email ? user.email : 'Chưa có email'}}</td>
                        <td class="overflow-hidden">
                          <div ngbDropdown container="body">
                            <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle><i
                              class="fa fa-angle-double-down"></i></button>
                            <div ngbDropdownMenu>
                              <button ngbDropdownItem (click)="openDialog(user)"><i class="fa fa-eye"></i> Xem </button>
                              <button ngbDropdownItem [routerLink]="['/user/update', user.login]"><i class="fa fa-edit"></i> Sửa </button>
                              <button ngbDropdownItem ><i class="fa fa-trash"></i> Xóa </button>
                            </div>
                          </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p-paginator [rows]="10" [totalRecords]="totalData" [rowsPerPageOptions]="pageSizeOption"
                         (onPageChange)="paginate($event)"></p-paginator>
        </div>
    </div>
</div>
<p-confirmDialog [style]="{width: 'auto'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text" acceptLabel="Đồng ý" rejectLabel="Hủy"></p-confirmDialog>
<p-dialog [(visible)]="display" [positionTop]="50" [style]="{ width: '70vw' }" [baseZIndex]="10000" [modal]="true" [blockScroll]="true">
  <ng-template pTemplate="header">
    <p class="page-header">Thông tin chi tiết tài khoản <span> #{{user?.login}} </span> </p>
  </ng-template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-3">
        <div class="p-field">
          <p>Họ tên: <span>{{user?.firstName}} {{user?.lastName}}</span></p>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="p-field">
          <p>Số điện thoại: <span>{{user?.phoneNumber ? user?.phoneNumber : 'Chưa cập nhật thông tin'}}</span></p>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="p-field">
          <p>Email: <span>{{user?.email ? user?.email : 'Chưa cập nhật thông tin'}}</span></p>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="p-field">
          <p>Chức vụ: <span>{{user?.position?.name ? user?.position?.name : 'Chưa cập nhật thông tin'}}</span></p>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="p-field">
          <p>Tỉnh/Thành phố: <span>{{user?.province?.name ? user?.province?.name : 'Chưa cập nhật thông tin'}}</span></p>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="p-field">
          <p>Quận/Huyện: <span>{{user?.district?.name ? user?.district?.name : 'Chưa cập nhật thông tin'}}</span></p>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="p-field">
          <p>Xã/Phường: <span>{{user?.ward?.name ? user?.ward?.name : 'Chưa cập nhật thông tin'}}</span></p>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="p-field">
          <p>Địa chỉ: <span>{{user?.address ? user?.address : 'Chưa cập nhật thông tin'}}</span></p>
        </div>
      </div>
    </div>
  </div>
<!--  <p-footer>-->
<!--    buttons-->
<!--  </p-footer>-->
</p-dialog>
