<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i>
      <h5 class="card-header-text d-inline-block">Chi tiết báo cáo ngày {{detailReport.createdDate | date: 'dd/MM/yyyy'}} </h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12">
              <h6 class="mb-2">Tên khách hàng : <strong> {{detailReport?.nameCustomer}} </strong></h6>
              <h6 class="mb-2">Số điện thoại : <strong> {{detailReport?.phoneCustomer}} </strong> </h6>
              <h6 class="mb-2">Ngày thực hiện : <strong> {{detailReport?.implementationDate | date: 'dd/MM/yyyy'}} </strong> </h6>
              <h6 class="mb-2">Địa điểm đi : <strong> {{detailReport?.addressStart}} </strong> </h6>
              <h6 class="mb-2">Địa điểm kết thúc : <strong> {{detailReport?.addressEnd}} </strong> </h6>
              <h6 class="mb-2">Tổng tiền: <strong> {{detailReport?.totalMoney | currency: 'VND'}} </strong> </h6>
              <h6 class="mb-2">Nội dung thực hiện: <strong> {{detailReport?.description}} </strong></h6>
            </div>
            <hr>
            <div class="col-12 mt-2">
              <h6>Nhân viên thực hiện</h6>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                  <tr style="white-space: nowrap">
                    <th scope="col">STT</th>
                    <th scope="col">Tên nhân viên</th>
                    <th scope="col">Điện thoại</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let worker of detailReport.workers; let i = index">
                  <tr>
                    <th scope="row">1</th>
                    <td> {{worker?.user?.fullName}} </td>
                    <td> {{worker?.user?.phone}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <p-carousel [value]="detailReport.images" [numVisible]="1" [numScroll]="1"  [responsiveOptions]="responsiveOptions">
            <ng-template let-product pTemplate="item">
              <div class="product-item">
                <div class="product-item-content">
                  <div class="p-mb-3">
                    <img src="{{product}}" [alt]="product.name" class="product-image"/>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
